s$color_1: rgb(81, 81, 81);
$font-family_1: 'tahoma';
$background-color_1: black;
$background-color_2: lightblue;
body {
	background-color: $background-color_1;
}
.buttons {
	padding: 10vh 5vw 10vh 5vw;
	margin-top: 5vh;
	border-radius: 10px;
	background-color: $background-color_2;
	border: none;
	color: $color_1;
	font-size: 5vh;
	font-family: $font-family_1;
	font-weight: bold;
}
section {
	text-align: center;
}
