body{
    background-color: black;
}

.buttons {
    padding: 10vh 5vw 10vh 5vw;
    margin-top: 5vh;
    border-radius: 10px;
    background-color: lightblue;
    border: none;
    color: rgb(81, 81, 81);
    font-size: 5vh;
    font-family: 'tahoma';
    font-weight: bold;
}

section {
    text-align: center;
}